<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex">
      <span class="input-group-text" id="basic-addon1">@</span>
      <%= text_field_tag('username', nil, class: "form-control me-2", type: "search", placeholder: "Username", aria: { label: "Search", describedby: "submit-username"}) %>
      <%= button_tag "Submit", type: "submit", class: "btn btn-outline-success", id: "submit-username" %>  
    </form>
  </div>
</nav>
