// $fa-font-path: "../../webfonts";
// @import "@fortawesome/fontawesome-free/scss/fontawesome";
// @import "@fortawesome/fontawesome-free/scss/brands";
// @import "@fortawesome/fontawesome-free/scss/regular";
// @import "@fortawesome/fontawesome-free/scss/solid";
// @import "@fortawesome/fontawesome-free/scss/v4-shims";

@import "./git_hub_users";
@import "./components";

body {
  font-family: "Baloo Paaji 2", cursive;
  // background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  min-height: calc(100vh - 150px);
}
