// Place all the styles related to the GitHubUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-cards-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 30px;
  justify-items: center;
}

.user-show-details {
  display: flex;
  width: 650px;
  height: 350px;
  padding: 10px;
  box-shadow: 0px 0px 15px 3px deeppink;
  background-color: #252732;
  margin: auto;
  .user-show-stats {
    margin-left: 15px;
    h1 {
      text-align: center;
      font-size: 1.3rem;
    }
    * {
      color: white;
    }
  }
}

.repos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
}

.compare-user-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
