<main class="container my-3 content">
  <section class="compare-user-grid">
    <%= render "git_hub_user_compare.html", user: @user_one %>
    <%= render "git_hub_user_compare.html", user: @user_two %>
  </section>
</main>
