<div class='container'>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
    <%= text_field_tag('username', nil, class: "form-control", placeholder: "Username", aria: { label: "Username", describedby: "submit-username"}) %>
    <%= button_tag "Submit", type: "button", class: "btn btn-dark", id: "submit-username" %>
  </div>

  <div class="user-cards-grid">
    <%= render @git_hub_users %>
  </div>
</div>
